/* Start :root */
:root {
  --main-color: #ff5722;
  --secondery-color: #ffc93c;
  --beg-gray: #f4f6f9;
  --section-color-white: white;
  --text-color-black: black;
  --text-color-white: white;
  --nav-color: black;
  --section-color: #f4f6f9;
  --paragrach-color: #777;
  --main-transtion: all 0.7s;
}

.dark {
  --beg-gray: #111111;
  --section-color-white: #232220;
  --text-color-black: white;
  --text-color-white: black;
  --nav-color: white;
}

/* End :root */
/* Start Land Page */

/* Start ABOUT PAGE LAND */
.contant {
  margin-top: 80px;
}
.aboutText {
  color: white;
  font-size: 2.5rem;
  margin-bottom: -10px;
}

@media (max-width: 991px) {
  .aboutText {
    font-size: 2rem;
  }
  .landPhoto-about {
    min-height: 200px;
  }
}

.landPhoto-about .path {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 70px;
}

.landPhoto-about .path a {
  color: white;
  transition: var(--main-transtion);
  text-transform: capitalize;
}

.landPhoto-about .path a:hover {
  color: var(--main-color);
}
.landPhoto-about .path i {
  color: white;
  line-height: 35px;
  margin-right: 5px;
}
.landPhoto-about .path p {
  font-weight: 500;
  color: white;
  text-transform: capitalize;
}

/* End ABOUT PAGE LAND */

/* Start OUR HISTORY */
.our-history {
  background-color: var(--section-color-white);
}
.storyContent {
  margin-right: 3rem;
}

.history {
  width: 65%;
}

@media (max-width: 991px) {
  .history {
    width: 100%;
  }
}
.storyPhoto {
  margin-right: 0 !important;
}

.storyPhoto {
  margin-top: 3rem;
}

/* Start WAY */

.all-ourWay {
  display: flex;
  max-width: 100%;
}

.photo-ourWay {
  width: 50%;
  min-height: 500px;
  background-image: url("../photo/banner.jpg");
  background-size: cover;
  position: relative;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.photo-ourWay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: -1;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.photo-ourWay h3 {
  padding: 3rem;
  font-size: 1.7rem;
}
.content-ourWay {
  width: 50%;
  padding: 4rem 2rem;
  background-color: var(--section-color-white);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
}

.content-ourWay .content {
  display: flex;
}

.content-ourWay .content:not(:last-of-type) {
  margin-bottom: 40px;
}

.content-ourWay .content i {
  color: var(--main-color);
  font-size: 2rem;
  margin-right: 15px;
}

.content-ourWay .content .content-info a {
  color: var(--text-color-black);
  font-size: 1.2rem;
  transition: var(--main-transtion);
}

.content-ourWay .content .content-info a:hover {
  color: var(--main-color);
}

.content-ourWay .content .content-info p {
  font-size: 0.9rem;
}

@media (max-width: 991px) {
  .all-ourWay {
    flex-direction: column;
  }
  .photo-ourWay {
    width: 100%;
    min-height: 250px;
    border-radius: 0;
  }
  .photo-ourWay::before {
    border-radius: 0;
  }
  .content-ourWay {
    width: 100%;
    border-radius: 0;
    flex-wrap: wrap;
  }
  .content-ourWay .content {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .content-ourWay .content {
    width: 100%;
  }
  .photo-ourWay h3 {
    font-size: 1.4rem;
    padding: 2rem;
  }
}
/* Start MORE INFO */
.all-moreInfo {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.moreInfo-content-add {
  max-width: 700px;
  padding-right: 3rem;
}

.more-info-photo {
  height: 100%;
}

.form-request {
  background-color: var(--section-color-white);
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 350px;
}

.form-request h2 {
  color: var(--text-color-black);
  font-size: 1.8rem;
}

.form-request p {
  margin-top: 10px;
}

.form-request form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

@media (max-width: 991px) {
  .form-request {
    margin-top: 20px;
    width: 100%;
  }
}

.form-request form input:not(:last-of-type) {
  border: 0;
  outline: none;
  border-radius: 3px;
  background-color: var(--beg-gray);
  padding: 1rem;
  margin-top: 10px;
  color: white;
}

.form-request form input:last-of-type {
  border: 0;
  outline: none;
  border-radius: 3px;
  background-color: var(--main-color);
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0.6rem 2rem;
  margin-top: 20px;
}

/* End WAY */

/* Start OUR TEAM */
.all-ourTeam {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.ourTeam-content {
  max-width: 50%;
  padding-right: 3rem;
}
.member {
  width: 25%;
  margin-bottom: 3rem;
  padding-left: 15px;
  padding-right: 15px;
}
.img-link {
  position: relative;
  overflow: hidden;
}

.img-link img {
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

.overLay-img {
  background-color: rgba(20, 20, 20, 0.7);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--main-transtion);
}
.overLay-img .links {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  padding: 5%;
  overflow: hidden;
  width: 100%;
  transition: var(--main-transtion);
  z-index: 2;
  text-align: center;
}

.overLay-img .links a {
  display: inline-block;
  margin-top: 40px;
  margin-right: 5px;
}

.overLay-img .links a > i {
  font-size: 16px;
  display: block;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  line-height: 42px;
  text-align: center;
  transition: var(--main-transtion);
  background: rgba(157, 157, 157, 0.5);
  color: white;
}

.overLay-img .links a > i:hover {
  color: var(--main-color);
  background-color: white;
}

.img-link:hover .overLay-img,
.img-link:hover .overLay-img .links {
  opacity: 1;
}

.img-link:hover .overLay-img .links {
  margin-top: -80px;
}



.img-title {
  text-align: center;
  margin-top: 10px;
}
.img-title a {
  font-size: 1.2rem;
  color: var(--text-color-black);
  display: block;
  transition: var(--main-transtion);
}
.img-title a:hover{
  color: var(--main-color);
}

.member:hover .img-title a{
  color: var(--main-color);
}

.img-title span {
  color: var(--paragrach-color);
}

@media (max-width: 991px){
  .ourTeam-content{
    max-width: 100%;
    padding-right: 0;
    padding-bottom: 3rem;
  }
  .member{
    width: 50%;
  }
}
/* End OUR TEAM */
